.mainPage {}

.header {
  background: #fff;
  height: 51px;
}

.headerContent {
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 500px;
  margin: auto;

  .headerShare {
    cursor: pointer;
  }
}

.body {
  padding: 0 12px;
  max-width: 500px;
  margin: auto;
}

.noData {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bodyBlock {
  background: #ffffffbf;
  padding: 12px;
  border: 2px solid #FFFFFFBF;
  border-radius: 12px;
  margin: 15px 0;
}

.contentInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
}

.contentInfoSocial {
  display: flex;
  gap: 12px;
}

.svg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.contentInfoImage {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px 1px inset;
  /*background: url(https://passio-prod.s3-ap-southeast-1.amazonaws.com/passio-prod/builder/612cd49d4a305402706f6c00/DD52EB58-E3E2-431D-8C10-85363E995690.jpeg) center center / cover;*/
}

.contentInfoName {}

.inputSearch {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inputBlock {
  position: relative;
  background: #fff;
  border-radius: 6px;
}

.input {
  width: calc(100% - 65px);
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 6px;
}

.inputClear {
  position: absolute;
  right: 50px;
  top: 52%;
  transform: translateY(-50%);
  cursor: pointer;
}

.inputSvg {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 7px 10px;
  background: #000;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.tabsBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
}

.tabName {
  padding: 7px 12px;
  border-radius: 8px;
  background: #fff;
  font-size: 13px;
  cursor: pointer;
}

.activeTab {
  background: #ca987fff;
  color: #fff;
}

.productItem {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  gap: 12px 0;
}

.productName {
  color: #333333ff;
  font-size: 19px;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.cardItem {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 6px;
  cursor: pointer;
}
.cardImage {
  border-radius: 6px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.cardName {
  font-size: 13px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}