.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

/*.mainPage {*/
/*  .header {*/
/*    background: #fff;*/
/*    height: 51px;*/

/*    .headerContent {*/
/*      padding: 0 12px;*/
/*      display: flex;*/
/*      align-items: center;*/
/*      justify-content: space-between;*/
/*      height: 100%;*/
/*      max-width: 500px;*/
/*      margin: auto;*/

/*      .headerShare {*/
/*        cursor: pointer;*/
/*      }*/
/*    }*/
/*  }*/

/*  .body {*/
/*    padding: 0 12px;*/
/*    max-width: 500px;*/
/*    margin: auto;*/

/*    .noData {*/
/*      margin-top: 30px;*/
/*      display: flex;*/
/*      align-items: center;*/
/*      justify-content: center;*/
/*      flex-direction: column;*/
/*    }*/

/*    .bodyBlock {*/
/*      background: #ffffffbf;*/
/*      padding: 12px;*/
/*      border: 2px solid #FFFFFFBF;*/
/*      border-radius: 12px;*/
/*      margin: 15px 0;*/
/*    }*/

/*    .infoBlock {*/
/*      display: flex;*/
/*      justify-content: space-between;*/

/*      .contentInfo {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        gap: 4px;*/
/*        align-items: center;*/

/*        .contentInfoImage {*/
/*          width: 80px;*/
/*          height: 80px;*/
/*          border-radius: 100%;*/
/*          box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px 1px inset;*/
/*          !*background: url(https://passio-prod.s3-ap-southeast-1.amazonaws.com/passio-prod/builder/612cd49d4a305402706f6c00/DD52EB58-E3E2-431D-8C10-85363E995690.jpeg) center center / cover;*!*/
/*        }*/

/*        .contentInfoName {}*/
/*      }*/

/*      .contentInfoSocial {*/
/*        display: flex;*/
/*        gap: 12px;*/

/*        .svg {*/
/*          width: 32px;*/
/*          height: 32px;*/
/*          border-radius: 50%;*/
/*        }*/
/*      }*/
/*    }*/

/*    .inputSearch {*/
/*      display: flex;*/
/*      flex-direction: column;*/
/*      gap: 6px;*/

/*      .inputBlock {*/
/*        position: relative;*/
/*        background: #fff;*/
/*        border-radius: 6px;*/

/*        .input {*/
/*          width: calc(100% - 65px);*/
/*          padding: 8px;*/
/*          outline: none;*/
/*          border: none;*/
/*          border-radius: 6px;*/
/*        }*/

/*        .inputClear {*/
/*          position: absolute;*/
/*          right: 50px;*/
/*          top: 52%;*/
/*          transform: translateY(-50%);*/
/*          cursor: pointer;*/
/*        }*/

/*        .inputSvg {*/
/*          border-top-right-radius: 6px;*/
/*          border-bottom-right-radius: 6px;*/
/*          cursor: pointer;*/
/*          display: flex;*/
/*          align-items: center;*/
/*          padding: 7px 10px;*/
/*          background: #000;*/
/*          right: 0;*/
/*          top: 50%;*/
/*          transform: translateY(-50%);*/
/*          position: absolute;*/
/*        }*/
/*      }*/
/*    }*/

/*    .tabsBlock {*/
/*      display: flex;*/
/*      flex-wrap: wrap;*/
/*      gap: 10px;*/
/*      align-items: center;*/
/*      margin-top: 15px;*/

/*      .tabName {*/
/*        padding: 7px 12px;*/
/*        border-radius: 8px;*/
/*        background: #fff;*/
/*        font-size: 13px;*/
/*        cursor: pointer;*/
/*      }*/

/*      .activeTab {*/
/*        background: #ca987fff;*/
/*        color: #fff;*/
/*      }*/
/*    }*/

/*    .productItem {*/
/*      display: flex;*/
/*      flex-direction: column;*/
/*      margin: 30px 0;*/
/*      gap: 12px 0;*/

/*      .productName {*/
/*        color: #333333ff;*/
/*        font-size: 19px;*/
/*      }*/

/*      .cardsGrid {*/
/*        display: grid;*/
/*        grid-template-columns: repeat(3, 1fr);*/
/*        gap: 12px;*/

/*        .cardItem {*/
/*          display: flex;*/
/*          flex-direction: column;*/
/*          overflow: hidden;*/
/*          gap: 6px;*/
/*          cursor: pointer;*/

/*          .cardImage {*/
/*            border-radius: 6px;*/
/*            width: 150px;*/
/*            height: 150px;*/
/*            object-fit: cover;*/
/*          }*/

/*          .cardName {*/
/*            font-size: 13px;*/
/*            overflow: hidden;*/
/*            -webkit-box-orient: vertical;*/
/*            display: -webkit-box;*/
/*            -webkit-line-clamp: 2;*/
/*            text-overflow: ellipsis;*/
/*          }*/
/*        }*/
/*      }*/
/*    }*/
/*  }*/
/*}*/
